.hero-heading {
  width: 645px;
  height: 184px;

  font-family: Now;
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 110%;
  /* or 88px */

  display: flex;
  align-items: center;

  /* 2 */

  color: #30fbef;
}
.sub-heading {
  width: 523px;
  height: 120px;

  font-family: Now;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 160%;
  /* or 29px */

  /* 1 */
  margin: 45px 0;
  color: #ffffff;
}
.hero-left {
  display: flex;
  flex-direction: column;
}
.hero {
  display: flex;
  max-width: 1117px;
  height: 497px;
  margin: 0 auto;
  width: 1117px;
  margin-top: 80px;
  justify-content: center;
}
.hero-image {
  max-width: 431px;
  /* height: 43vh; */
  max-height: 486px;
}
.hero-right {
  width: 431px;
  height: 486px;
}
.hero-button {
  width: 271px;
  height: 76px;

  background: #282828;
  box-shadow: 4px 3px 8px rgba(0, 0, 0, 0.25),
    -3px -3px 8px rgba(75, 93, 104, 0.1);
  border-radius: 50px;
  font-family: Now;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 160%;
  color: #ffffff;

  /* or 38px */
}
@media only screen and (max-width: 1100px) {
  .hero-heading {
    width: 340px;
    height: 184px;
    font-family: Now;
    font-style: normal;
    font-weight: bold;
    font-size: 52px;
    line-height: 110%;
    display: flex;
    align-items: center;
    color: #30fbef;
  }
  .sub-heading {
    width: 280px;
    height: 120px;
    font-family: Now;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 160%;
    margin: 11px 0;
    color: #ffffff;
  }
  .hero-image {
    width: 42vw;
    max-width: 431px;
    /* height: 43vh; */
    max-height: 486px;
  }
}
@media only screen and (max-width: 580px) {
  .hero-button {
    width: 175px;
    height: 57px;
    background: #282828;
    box-shadow: 4px 3px 8px rgb(0 0 0 / 25%), -3px -3px 8px rgb(75 93 104 / 10%);
    border-radius: 50px;
    font-family: Now;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    color: #ffffff;
  }
  .sub-heading {
    width: 234px;
    height: 120px;
    font-family: Now;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 160%;
    margin: -25px 0;
    color: #ffffff;
  }
  .hero-heading {
    width: 236px;
    height: 184px;
    font-family: Now;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 110%;
    display: flex;
    align-items: center;
    color: #30fbef;
  }
  .hero {
    display: flex;
    max-width: 1117px;
    height: 497px;
    margin: 0 auto;
    margin-top: 12px;
    width: unset;
    margin-left: 19px;
    justify-content: center;
  }
}
